<div>
  <h3>{{ day }} - Total: ${{ calculateDailyTotal() }}</h3>

  <div *ngFor="let expense of expenses; let i = index">
    <div *ngIf="!expense.editing">
      <span>{{ expense.category }}: ${{ expense.amount }}</span>
      <button mat-button (click)="editExpense(expense)">Edit</button>
      <button mat-button (click)="deleteExpense(i)">Delete</button>
      
    </div>
    <div *ngIf="expense.editing">
      <div>Editing...</div>
      <input class="my-custom-input" [(ngModel)]="expense.category" placeholder="Category" />
      <input type="number" [(ngModel)]="expense.amount" placeholder="Amount" />
      <button mat-button (click)="saveExpense(expense)">Save</button>
      <button mat-button (click)="cancelEditing(expense)">Cancel</button>
    </div>
  </div>

  <div class="add-expense">
    <div>Add expense...</div>
    <input class="my-custom-input" [(ngModel)]="newExpense.category" placeholder="Category" />
    <input type="number" [(ngModel)]="newExpense.amount" placeholder="Amount" />
    <button mat-button (click)="addExpense()">Add Expense</button>
  </div>
</div>