<mat-tab-group #displayTabGroup>
  <mat-tab *ngFor="let day of days; let i = index" [label]="day">
    <div class = "tab-navigation">
      <button (click)="previousTab(i)">Previous Day</button>
      <button (click)="nextTab(i)">Next Day</button>
    </div>
    <app-day-expense 
      [day]="day" 
      [expenses]="weeklyExpenses[day]" 
      (update)="updateWeeklyExpenses($event)">
    </app-day-expense>
    
  </mat-tab>
  <mat-tab label="Summary">
    <div class="tab-navigation">
      <button (click)="previousTab(days.length)">Previous Day</button>
      <button (click)="nextTab(days.length)">Next Day</button>
    </div>
    <div class="summary">
      <h3>Weekly Total: ${{ calculateWeeklyTotal() }}</h3>
      <button (click)="exportToExcel()">Export to Excel Workbook</button>
    </div>
    <div class="day-table">
      <table border="2">
        <thead>
          <tr>
            <th>Day</th>
            <th>Category</th>
            <th>Total Expense</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let day of days">
            <tr>
              <td [attr.rowspan]="weeklyExpenses[day].length + 1" style="font-weight: bold; text-transform: uppercase;" >
                {{ day }}
              </td>
            </tr>
            <!-- <tr *ngFor="let entry of getDailyTotal() | keyvalue">
              <td>{{ entry.key }}</td>
              <td>${{ entry.value }}</td>
            </tr> -->
            <tr *ngFor="let expense of weeklyExpenses[day]">
              <td>{{ expense.category }}</td>
              <td>{{ expense.amount }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>