<mat-tab-group #displayTabGroup>
  <mat-tab *ngFor="let day of days; let i = index" [label]="day">
    <app-day-expense 
      [day]="day" 
      [expenses]="weeklyExpenses[day]" 
      (update)="updateWeeklyExpenses($event)">
    </app-day-expense>
    <div class = "tab-navigation">
      <button (click)="previousTab(i)">Previous Day</button>
      <button (click)="nextTab(i)">Next Day</button>
    </div>
  </mat-tab>
  <mat-tab label="Summary">
    <div class="summary">
      <h3>Weekly Total: ${{ calculateWeeklyTotal() }}</h3>
    </div>
    <div class="day-table">
      <table border="2">
        <thead>
          <tr>
            <th>Day</th>
            <th>Total Expense</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of getDailyTotal() | keyvalue">
            <td>{{ entry.key }}</td>
            <td>${{ entry.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-navigation">
      <button (click)="previousTab(days.length)">Previous Day</button>
      <button (click)="nextTab(days.length)">Next Day</button>
    </div>
  </mat-tab>
</mat-tab-group>