h3 {
  margin: 16px 0;
}

.add-expense {
  margin-top: 16px;
}

button {
  margin-left: 8px;
}

.my-custom-input {
  background-color: lightcoral !important;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th {
  height: 50px;
  width: 120px;
}

td {
  height: 25px;
}

tr {
  :hover {background-color: coral;}
}